{
  "clients": [
    {
      "name": "localhost",
      "ips": ["127.0.0.1", "10.1.2.97", "::1"],
      "key": "d6zpumfnmlwksb7faxy7zsm16qzzoi91",
      "maxprio": 1
    }
  ],
  "devices": [
    { "driver": "gammu", "options": { "section": 0 } }
  ]
}
